{% extends 'base.html.twig' %}

{% block title %}BonIntervention{% endblock %}

{% block body %}
    <h1>BonIntervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bon_intervention.id }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ bon_intervention.pdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bon_intervention_index') }}">back to list</a>

    <a href="{{ path('bon_intervention_edit', {'id': bon_intervention.id}) }}">edit</a>

    {{ include('bon_intervention/_delete_form.html.twig') }}
{% endblock %}
