{% extends 'base.html.twig' %}

{% block title %}Bon intervention {% endblock %}
{% block body %}
    {#_________Header___________#}
    <header class="jumbotron-fluid table-dark text-center">
        <div class="Logo"></div>
        <div class="title">
            <h1>BON INTERVENTION</h1>
        </div>
    </header>
    {#_________Info___________#}
    <div class="container">
        <div class="row" style="border: 1px solid #0a0a0a">
            <div class="row"><!-- Client Final-->
                <div class="col">
                    <br>
                    <div class="col">
                        <U>Client</U> : <b>{{intervention.fkclient.raisonSociale}}</b>
                        <br>({{ intervention.fkclient.responsable }})
                    </div>
                    <div class="col">
                        <U>Adresse :</U><br>
                        {{ intervention.fkclient.adresse }}
                    </div>
                    <div class="col">
                        {{ intervention.fkclient.codepostal }} {{ intervention.fkclient.ville }}
                    </div>
                </div>
                <div class="col">
                    <br>
                    <div class="col">
                        <U>Telephone :</U> {{ intervention.fkclient.telephone }}
                    </div>
                    <div class="col">
                        <U>Mobile :</U>  {{ intervention.fkclient.mobile }}
                    </div>
                    <div class="col">
                        <U>Fax : </U>  {{ intervention.fkclient.fax }}
                    </div>
                    <div class="col">
                        <U>E-mail :</U>  {{ intervention.fkclient.email }}
                    </div>
                    <br>
                </div>
            </div><!-- Client Final-->
            <div class="row" style="border-left: 1px solid #0a0a0a"><!-- Client Intervention-->
                <div class="col">
                    <br>
                    <div class="col">
                            Client : {{ intervention.nom }}
                    </div>
                    <div class="col">
                        Adresse : {{ intervention.adresse }}
                    </div>
                    <div class="col">
                        {{ intervention.codepostal }} {{ intervention.ville }}
                    </div>
                </div>
                <div class="col">
                    <br>
                    <div class="col">
                        Telephone : {{ intervention.telephone }}
                    </div>
                    <div class="col">
                        Mobile : {{ intervention.mobile }}
                    </div>
                    <div class="col">
                        E-mail : {{ intervention.email }}
                    </div>
                </div>
            </div><!-- Client Intervention-->
        </div>
    </div>
    {#_________Etat___________#}
    <div class="container" style="border: 1px solid #0a0a0a">
        <br>
        <div class="container">
            <div class="form-row">
                <h6>État</h6>
                <div class="form-check ">
                    <label for="termine"> Terminé  </label>
                    <input class="form-check-label" type="radio" name="etat" id="termine" value="oui" >
                </div>
                <div class="form-check ">
                    <label for="poursuivre"> A poursuivre  </label>
                    <input class="form-check-label" type="radio" name="etat" id="poursuivre" value="non">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                {#             les boutons doivent envoyer une alerte pour la secretaire       #}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="commande">
                    <label for="commande">A commander    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="essai">
                    <label for="essai">Essais/Mise en service    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="devis">
                    <label for="devis">Devis à faire    </label>
                </div>
            </div>
        </div>
    </div>
    {#_________Pièces et Main d'oeuvre___________#}
    <div class="container table-dark">
        <table class="table table-sm table-dark">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Désignation</th>
                <th scope="col">Qté</th>
                <th scope="col">Prix U. HT</th>
                <th scope="col">Prix Total HT</th>
            </tr>
            </thead>
            <tbody>
            {#    données de Matériel        #}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            {#     DIAC../MO../DEP..       #}
            <tfooter>
                <tr>
                    <th scope="row">DIAC</th>
                    <td>Divers Accessoires de Pose</td>
                    <td>
                        <input type="button" id="moinsDiac" value="-" />
                        <input type="text" name="qteDiac" id="qtDiac" placeholder="qté :" value="0" data-constraints="@Required @JustNumber">
                        <input type="button" id="plusDiac" value="+" />
                    </td>
                    <td>
                        <input type="text" name="pxDiac" id="pxDiac" placeholder="prix :" value="" data-constraints="@Required @JustNumber">
                    </td>
                    <td id="ttDiac"></td>
                </tr>
                <tr>
                    <th scope="row">MO...</th>
                    <td>Main d'oeuvre</td>
                    <td>
                        <input type="button" id="moinsMo" value="-" />
                        <input type="text" name="pxMo" id="qtMo" placeholder="qté :" value="0" data-constraints="@Required @JustNumber">
                        <input type="button" id="plusMo" value="+" />
                    </td>
                    <td>
                        <input type="text" name="pxMo" id="pxMo" placeholder="prix :" value="" data-constraints="@Required @JustNumber">
                    </td>
                    <td id="ttMo"></td>
                </tr>
                <tr>
                    <th scope="row">DEP...</th>
                    <td>Déplacement</td>
                    <td>
                        <input type="button" id="moinsDep" value="-" />
                        <input type="text" name="qteDep" id="qtDep" placeholder="qté :" value="0" data-constraints="@Required @JustNumber">
                        <input type="button" id="plusDep" value="+" />
                    </td>
                    <td>
                        <input type="text" name="pxDep" id="pxDep" placeholder="prix :" value="" data-constraints="@Required @JustNumber">
                    </td>
                    <td id="ttDep"></td>
                </tr>

                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td>TOTAL HT</td>
                    <td></td>
                </tr>
            </tfooter>
        </table>
    </div>
    {#_________Rapport___________#}
    <div class="container">
        <div class="container" style="border: 1px solid #0a0a0a">
            <div class="row" style="border: 1px solid #0a0a0a">
                <div class="col">
                    Techniciens affectés sur l'intervention : {# Users #}
                </div>
                <div class="form-group row">
                    <label for="debut" class="col col-form-label">Début d'intervention</label>
                    <div class="col">
                        <input class="form-control" type="date" value="" id="debut">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group">
                    <label for="rapport">Rapport technicien</label>
                    <textarea class="form-control" rows="5" id="rapport"></textarea>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-check ">
                            <label for="observation"> Observations client  </label>
                            <input class="form-check-label" type="checkbox" name="observation" id="observation"  >
                        </div>
                        <div class="form-group col-6" id="obsClient" style="display: none" >
                            <label for="obs"></label>
                            <textarea class="form-control" rows="3"  id="obs" placeholder="Observations client :"></textarea>
                        </div>
                    </div>
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-3">
                                <h4>Technicien</h4>
                                Nom : {#{{ user.username }}#}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="sig-canvas" width="250" height="100" style=" border: 2px dotted #CCCCCC; border-radius: 15px; cursor: crosshair; ">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" id="sig-submitBtn">Ok</button>
                                            <button class="btn btn-default" id="sig-clearBtn">Effacer</button>
                                        </div>
                                    </div>
                                </div><!--SIGNATURE Technicien -->
                                {#            cachet sur le pdf                    #}
                            </div>
                            <div class="col"></div>
                            <div class="col-3">
                                Établi le {{ "now"|date("d/m/Y") }}
                                <br>
                                <button type="submit" class="btn btn-success ">Envoyer</button>
                            </div>
                            <div class="col"></div>
                            <div class="col-3">
                                <h4>LE CLIENT</h4>
                                Nom : {{ intervention.nom }}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="sig-canvas" width="250" height="100" style=" border: 2px dotted #CCCCCC; border-radius: 15px; cursor: crosshair; ">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" id="sig-submitBtn">Ok</button>
                                            <button class="btn btn-default" id="sig-clearBtn">Effacer</button>
                                        </div>
                                    </div>
                                </div><!--SIGNATURE Client -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="retour">
        <button type="button" class="btn btn-danger"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>
    {#_________Footer___________#}
    <footer class="jumbotron-fluid table-dark" id="footer">
        <div class="row">
            <div class="col-3">
                <div class="fblock-1"><a href="./"><img src="{{ asset('/public/images/logo.jpg') }}" alt="" ></a></div>
            </div>
            <div class="preffix_2 col-6">
                <div class="fblock-2">
                    <div class="fblock-2_s1">
                        <span class="fblock-2_s1_s1">GB CONCEPT</span>
                        &copy; <span id="copyright-year"></span>
                        | Mentions Légales</div>
                    <p>SARL GB CONCEPT-181, Rue de St Éxupéry-34130 MAUGUIO.</p>
                    <p>Tél: 04.20.30.28.28/ Fax: 04.67.82.75.38 Email: contact@gbconcept34.fr - RCS Montpellier 501 826 176</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        (function() {
            window.requestAnimFrame = (function(callback) {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimaitonFrame ||
                    function(callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            const canvas = document.getElementById("sig-canvas");
            const ctx = canvas.getContext("2d");
            ctx.strokeStyle = "#222222";
            ctx.lineWidth = 1;

            let drawing = false;
            let mousePos = {
                x: 0,
                y: 0
            };
            let lastPos = mousePos;

            canvas.addEventListener("mousedown", function(e) {
                drawing = true;
                lastPos = getMousePos(canvas, e);
            }, false);

            canvas.addEventListener("mouseup", function(e) {
                drawing = false;
            }, false);

            canvas.addEventListener("mousemove", function(e) {
                mousePos = getMousePos(canvas, e);
            }, false);

            // Ajouter un support d'événement tactile pour mobile
            canvas.addEventListener("touchstart", function(e) {
            }, false);

            canvas.addEventListener("touchmove", function(e) {
                const touch = e.touches[0];
                const me = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchstart", function(e) {
                mousePos = getTouchPos(canvas, e);
                const touch = e.touches[0];
                const me = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchend", function(e) {
                const me = new MouseEvent("mouseup", {});
                canvas.dispatchEvent(me);
            }, false);

            function getMousePos(canvasDom, mouseEvent) {
                const rect = canvasDom.getBoundingClientRect();
                return {
                    x: mouseEvent.clientX - rect.left,
                    y: mouseEvent.clientY - rect.top
                }
            }

            function getTouchPos(canvasDom, touchEvent) {
                const rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                }
            }

            function renderCanvas() {
                if (drawing) {
                    ctx.moveTo(lastPos.x, lastPos.y);
                    ctx.lineTo(mousePos.x, mousePos.y);
                    ctx.stroke();
                    lastPos = mousePos;
                }
            }

            // Empêcher le défilement lorsque vous touchez la zone de signature
            document.body.addEventListener("touchstart", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchend", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchmove", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);

            (function drawLoop() {
                requestAnimFrame(drawLoop);
                renderCanvas();
            })();

            function clearCanvas() {
                canvas.width = canvas.width;
            }

            // Configurer l'interface utilisateur
            const sigText = document.getElementById("sig-dataUrl");
            const sigImage = document.getElementById("sig-image");
            const clearBtn = document.getElementById("sig-clearBtn");
            const submitBtn = document.getElementById("sig-submitBtn");
            clearBtn.addEventListener("click", function(e) {
                clearCanvas();
                sigText.innerHTML = "Data URL for your signature will go here!";
                sigImage.setAttribute("src", "");
            }, false);
            submitBtn.addEventListener("click", function(e) {
                const dataUrl = canvas.toDataURL();
                //  sigText.innerHTML = dataUrl;           lien image pour la signature
                //  sigImage.setAttribute("src", dataUrl);
            }, false);
        })();
    </script><!--SIGNATURE -->
    <script>
        let qtDiac = $('#qtDiac').val();
        let qtMo = $('#qtMo').val();
        let qtDep = $('#qtDep').val();
        var pxDiac = $('#pxDiac');
        var pxMo = $('#pxMo');
        var pxDep = $('#pxDep');

        $("#moinsDep").click(function () {
            if (qtDep <= 0){
                qtDep = 0
            }else {
                qtDep--;
                $('#qtDep').val(qtDep);
            }
        });

        $("#plusDep").click(function () {
            qtDep++;
            $('#qtDep').val(qtDep);
        });

        $("#moinsDiac").click(function () {
            if (qtDiac <= 0){
                qtDiac = 0
            }else {
                qtDiac--;
                $('#qtDiac').val(qtDiac);
            }
        });

        $("#plusDiac").click(function () {
            qtDiac++;
            $('#qtDiac').val(qtDiac);
        });

        $("#moinsMo").click(function () {
            if (qtMo <= 0){
                qtMo = 0
            }else {
                qtMo--;
                $('#qtMo').val(qtMo);
            }
        });

        $("#plusMo").click(function () {
            qtMo++;
            $('#qtMo').val(qtMo);
        });
        // $ttDiac = $qtDiac * $pxDiac;
        // $ttMo= $qtMo * $pxMo;
        // $ttDep= $qtDep * $pxDep;
    </script><!-- quantités boutons-->
    <script>
        $('#observation').change(function () {
            {
                if (this.checked) {
                    document.querySelector('#obsClient').style.display = 'block';
                } else if(!this.checked) {
                    document.querySelector('#obsClient').style.display = 'none';
                }
            }
        })
    </script><!--Obsvervation client-->
{% endblock %}