{% extends 'base.html.twig' %}

{% block title %}Bon intervention {% endblock %}
{% block body %}
    {#_________Header___________#}
    <header class="container-fluid text-center">
        <div class="Logo"></div>
        <div class="title">
            <h1>BON INTERVENTION</h1>
        </div>
    </header>
                {#_________Info___________#}
    <div class="container row table-dark">
        <div class="row">
            <div class="col">
                <div class="col">
                        Client :  clientfinal.nom
                </div>
                <div class="col">
                    Adresse :  clientfinal.adresse }}
                </div>
                <div class="col">
                      CP. clientfinal.ville }}
                </div>
            </div>
            <div class="col">
                <div class="col">
                    Telephone :  clientfinal.telephone }}
                </div>
                <div class="col">
                    Mobile :  clientfinal.mobile }}
                </div>
                <div class="col">
                        Fax :  clientfinal.fax }}
                </div>
                <div class="col">
                        E-mail :  clientfinal.email }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col">
                        Client : {{ intervention.nom }}
                </div>
                <div class="col">
                    Adresse : {{ intervention.adresse }}
                </div>
                <div class="col">
                    {{ intervention.codepostal }} {{ intervention.ville }}
                </div>
            </div>
            <div class="col">
                <div class="col">
                    Telephone : {{ intervention.telephone }}
                </div>
                <div class="col">
                    Mobile : {{ intervention.mobile }}
                </div>
                <div class="col">
                    E-mail : {{ intervention.email }}
                </div>
            </div>
        </div>
    </div>
    {#_________Etat___________#}
    <div class="container-fluid ">
        <div class="container">
            <div class="form-row">
                <h6>État</h6>
                <div class="form-check ">
                    <label for="termine"> Terminé  </label>
                    <input class="form-check-label" type="radio" name="etat" id="termine" value="oui" >
                </div>
                <div class="form-check ">
                    <label for="poursuivre"> A poursuivre  </label>
                    <input class="form-check-label" type="radio" name="etat" id="poursuivre" value="non">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                {#             les boutons envoient une alerte pour la secretaire       #}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="commande">
                    <label for="commande">A commander    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="essai">
                    <label for="essai">Essais/Mise en service    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="devis">
                    <label for="devis">Devis à faire    </label>
                </div>

            </div>
        </div>
    </div>
    {#_________Pièces et Main d'oeuvre___________#}
    <div class="container table-dark">
        <table class="table table-sm table-dark">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Désignation</th>
                <th scope="col">Qté</th>
                <th scope="col">Prix U. HT</th>
                <th scope="col">Prix Total HT</th>
            </tr>
            </thead>
            <tbody>
            {#    données de Matériel        #}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            {#     DIAC../MO../DEP..       #}
            <tfooter>
                <tr>
                    <th scope="row">DIAC</th>
                    <td>Divers Accessoires de Pose</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">MO...</th>
                    <td>Main d'oeuvre</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">DEP...</th>
                    <td>Déplacement</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td>TOTAL HT</td>
                    <td></td>
                </tr>
            </tfooter>
        </table>
    </div>
    {#_________Rapport___________#}
    <div class="container">
        <div class="container" style="border: 1px solid #0a0a0a">
            <div class="row" style="border: 1px solid #0a0a0a">
                <div class="col">
                    Techniciens affectés sur l'intervention : {# Users #}
                </div>
                <div class="form-group row">
                    <label for="debut" class="col col-form-label">Début d'intervention</label>
                    <div class="col">
                        <input class="form-control" type="date" value="" id="debut">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group">
                    <label for="rapport">Rapport technicien</label>
                    <textarea class="form-control" rows="5" id="rapport"></textarea>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-check ">{#Fait apparaitre le textarea "observation client#}
                            <label for="observation"> Observations client  </label>
                            <input class="form-check-label" type="checkbox" name="observation" id="observation"  >
                        </div>
                        <div class="form-group col-6">
                            <label for="obs"></label>
                            <textarea class="form-control" rows="3"  id="obs" placeholder="Observations client :"></textarea>
                        </div>
                    </div>
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-3">
                                <h4>Technicien</h4>
                                Nom : {#{{ user.username }}#}
                                <div class="Signature">
                                    <canvas id="signT" width="165" height="48" >Signature</canvas>
                                </div>
                                {#            cachet sur le pdf                    #}
                            </div>
                            <div class="col"></div>
                            <div class="col-3">
                                Établi le {{ "now"|date("d/m/Y") }}
                                <br>
                                <button type="submit" class="btn btn-success ">Envoyer</button>
                            </div>

                            <div class="col"></div>
                            <div class="col-3">
                                <h4>LE CLIENT</h4>
                                Nom : {{ intervention.nom }}
                                <div class="Signature">
                                    <canvas id="signC" width="165" height="48" >Signature</canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="retour">
        <button type="button" class="btn btn-danger"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>
    {#_________Footer___________#}
    <footer class="container-fluid table-dark" id="footer">
        <div class="row">
            <div class="grid_3">
                <div class="fblock-1 wow fadeIn"><a href="./"><img src="/public/images/logo.jpg" alt="" ></a></div>
            </div>
            <div class="preffix_2 grid_6">
                <div class="fblock-2">
                    <div class="fblock-2_s1"><span class="fblock-2_s1_s1">GB CONCEPT</span> &copy; <span id="copyright-year"></span> | Mentions Légales</div>
                    <p>SARL GB CONCEPT-181, Rue de St Éxupéry-34130 MAUGUIO.</p>
                    <p>Tél: 04.20.30.28.28/ Fax: 04.67.82.75.38 Email: contact@gbconcept34.fr - RCS Montpellier 501 826 176</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}