{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}
{% block body %}
    {#_________Header___________#}
<header class="jumbotron-fluid table-dark text-center">
    <div class="Logo"></div>
    <div class="title">
        <h1>FORMATION</h1>
    </div>
</header>
    {#__________Infos___________#}
    <div class="container">
        <div class="container" style="border: 1px solid #0a0a0a">
            <div class="row" >
                <div class="col">
                DATE: {{ "now"|date("d/m/Y") }}
                </div>
                <div class="col">
                   LIEU : {#récupéré sur l'API#}
                </div>
            </div>
        </div>
        <div class="container" style="border: 1px solid #0a0a0a">
            CLIENT : {{ intervention.nom }}
        </div>
        <div class="container" style="border: 1px solid #0a0a0a">
            <div class="row">
                <div class="col">
                    REPRESENTANT : {{ intervention.representant }}
                </div>
                <div class="col">
                    FONCTION : {{ intervention.fonction }}
                </div>
            </div>
        </div>
        <div class="container" style="border: 1px solid #0a0a0a">
            <adress>
                ADRESSE :
                <div class="col">{{ intervention.adresse }}</div>
                <div class="col">{{ intervention.codepostal }} {{ intervention.ville }}</div>
            </adress>
        </div>

    </div>
    <br>
    {#____Presonnes présentes___#}
    <div class="container"  >
        <div class="container" style="border: 1px solid #0a0a0a">
            <h4>PERSONNES PRESENTES</h4>
        </div>
        <div class="container" style="border: 1px solid #0a0a0a">
            <div>
                <ul class="row" style="list-style-type:none">
                    <li class="col"><h5>NOM</h5></li>
                    <li class="col"><h5>Prénom</h5></li>
                    <li class="col"><h5>Fonction</h5></li>
                    <li class="col"><h5>E-Signature</h5></li>
                </ul>
            </div>
            <div class="inscription">
                <ul class="row" style="border: 1px dashed #7DA0B1; list-style-type:none">
                    <li class="col">
                        <input type="text" name="nom1" placeholder="Nom :" value="" data-constraints="@Required @JustLetters">
                    </li><!--NOM-->
                    <li class="col">
                        <input type="text" name="prenom1" placeholder="Prénom :" value="" data-constraints="@Required @JustLetters">
                    </li><!--PRENOM-->
                    <li class="col">
                        <input type="text" name="fonction1" placeholder="Fonction :" value="" data-constraints="@Required @JustLetters">
                    </li><!--FONCTION-->
                    <li class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <canvas id="sig-canvas" width="250" height="100" style=" border: 2px dotted #CCCCCC; border-radius: 15px; cursor: crosshair; ">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        {#                            <br/>#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-md-12">#}
                        {#                                    <textarea id="sig-dataUrl" class="form-control" rows="5">L'URL de données pour votre signature ira ici!</textarea>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <br/>#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-md-12">#}
                        {#                                    <img id="sig-image" src="" alt="Your signature will go here!"/>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                     </div>#}
                        {#                        #}
                    </li><!--SIGNATURE -->
                    <li>
                        <button class="btn btn-outline-danger" id="sig-clearBtn">Effacer</button>
                    </li><!-- Bouton effacer signature-->
                </ul>
                <button class="btn btn-primary" id="newPers">+</button><!-- Validation et ajout de personne -->
            </div>

        </div>
    </div>
    <div class="retour">
        <button type="button" class="btn btn-danger"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>
    {#_________Footer___________#}
    <footer class="jumbotron-fluid table-dark" id="footer">
        <div class="row">
            <div class="col-3">
                <div class="fblock-1"><a href="./"><img src="{{ asset('/public/images/logo.jpg') }}" alt="" ></a></div>
            </div>
            <div class="preffix_2 col-6">
                <div class="fblock-2">
                    <div class="fblock-2_s1">
                        <span class="fblock-2_s1_s1">GB CONCEPT</span>
                        &copy; <span id="copyright-year"></span>
                        | Mentions Légales</div>
                    <p>SARL GB CONCEPT-181, Rue de St Éxupéry-34130 MAUGUIO.</p>
                    <p>Tél: 04.20.30.28.28/ Fax: 04.67.82.75.38 Email: contact@gbconcept34.fr - RCS Montpellier 501 826 176</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        (function() {
            window.requestAnimFrame = (function(callback) {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimaitonFrame ||
                    function(callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            const canvas = document.getElementById("sig-canvas");
            const ctx = canvas.getContext("2d");
            ctx.strokeStyle = "#222222";
            ctx.lineWidth = 1;

            let drawing = false;
            let mousePos = {
                x: 0,
                y: 0
            };
            let lastPos = mousePos;

            canvas.addEventListener("mousedown", function(e) {
                drawing = true;
                lastPos = getMousePos(canvas, e);
            }, false);

            canvas.addEventListener("mouseup", function(e) {
                drawing = false;
            }, false);

            canvas.addEventListener("mousemove", function(e) {
                mousePos = getMousePos(canvas, e);
            }, false);

            // Ajouter un support d'événement tactile pour mobile
            canvas.addEventListener("touchstart", function(e) {
            }, false);

            canvas.addEventListener("touchmove", function(e) {
                const touch = e.touches[0];
                const me = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchstart", function(e) {
                mousePos = getTouchPos(canvas, e);
                const touch = e.touches[0];
                const me = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchend", function(e) {
                const me = new MouseEvent("mouseup", {});
                canvas.dispatchEvent(me);
            }, false);

            function getMousePos(canvasDom, mouseEvent) {
                const rect = canvasDom.getBoundingClientRect();
                return {
                    x: mouseEvent.clientX - rect.left,
                    y: mouseEvent.clientY - rect.top
                }
            }

            function getTouchPos(canvasDom, touchEvent) {
                const rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                }
            }

            function renderCanvas() {
                if (drawing) {
                    ctx.moveTo(lastPos.x, lastPos.y);
                    ctx.lineTo(mousePos.x, mousePos.y);
                    ctx.stroke();
                    lastPos = mousePos;
                }
            }

            // Empêcher le défilement lorsque vous touchez la zone de signature
            document.body.addEventListener("touchstart", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchend", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchmove", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);

            (function drawLoop() {
                requestAnimFrame(drawLoop);
                renderCanvas();
            })();

            function clearCanvas() {
                canvas.width = canvas.width;
            }

            // Configurer l'interface utilisateur
            const sigText = document.getElementById("sig-dataUrl");
            const sigImage = document.getElementById("sig-image");
            const clearBtn = document.getElementById("sig-clearBtn");
            const submitBtn = document.getElementById("sig-submitBtn");
            clearBtn.addEventListener("click", function(e) {
                clearCanvas();
                sigText.innerHTML = "Data URL for your signature will go here!";
                sigImage.setAttribute("src", "");
            }, false);
            submitBtn.addEventListener("click", function(e) {
                const dataUrl = canvas.toDataURL();
                //  sigText.innerHTML = dataUrl;           lien image pour la signature
                //  sigImage.setAttribute("src", dataUrl);
            }, false);
        })();
    </script><!--SIGNATURE -->
    <script>
        $(document).ready(function($){
            $('#newPers').click(function(e){
               $('.inscription').last().clone({withDataAndEvents:true}).insertAfter(this);
                $("#newPers").remove();

            });
        });
    </script><!-- duplique une ligne d'inscription -->
{% endblock %}