{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1 class="text-center" >Intervention index</h1>
<div class="container-fluid">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-dark table-striped table-hover shadow p-3 mb-5 md-5 rounded">
            <thead>
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Adresse</th>
                    <th class="text-center">Codepostal</th>
                    <th class="text-center">Ville</th>
                    <th class="text-center">Telephone</th>
                    <th class="text-center">Mobile</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Representant</th>
                    <th class="text-center">Fonction</th>
                    <th class="text-center">actions</th>
                    <th class="text-center">Interventions </th>
                </tr>
            </thead>
            <tbody>
            {% for intervention in interventions %}
                <tr>
                    <td class="text-center">{{ intervention.nom }}</td>
                    <td class="text-center">{{ intervention.adresse }}</td>
                    <td class="text-center">{{ intervention.codepostal }}</td>
                    <td class="text-center">{{ intervention.ville }}</td>
                    <td class="text-center">{{ intervention.telephone }}</td>
                    <td class="text-center">{{ intervention.mobile }}</td>
                    <td class="text-center">{{ intervention.email }}</td>
                    <td class="text-center">{{ intervention.representant }}</td>
                    <td class="text-center">{{ intervention.fonction }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-info"><a href='{{ path('intervention_pv', { 'id': intervention.id }) }}' >P. V.</a></button>
                        <button type="button" class="btn btn-warning"><a href="{{ path('intervention_bi', { 'id': intervention.id }) }}">B. I.</a></button>
                        <button type="button" class="btn btn-danger"><a href="{{ path('intervention_for', { 'id': intervention.id }) }}">Form</a></button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-primary"><a href="{{ path('intervention_show', {'id': intervention.id}) }}">show</a></button>
                        <button type="button" class="btn btn-outline-primary"><a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a></button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <a href="{{ path('intervention_new') }}">Create new</a>
{% endblock %}
