{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Representant</th>
                <th>Fonction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.nom }}</td>
                <td>{{ intervention.adresse }}</td>
                <td>{{ intervention.codepostal }}</td>
                <td>{{ intervention.ville }}</td>
                <td>{{ intervention.telephone }}</td>
                <td>{{ intervention.mobile }}</td>
                <td>{{ intervention.email }}</td>
                <td>{{ intervention.representant }}</td>
                <td>{{ intervention.fonction }}</td>
                <td>
                    <a href="{{ path('intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intervention_new') }}">Create new</a>
{% endblock %}
