{% extends 'base.html.twig' %}

{% block title %}PROCES VERBAl{% endblock %}

{% block body %}
    <header class="container-fluid text-center">
        <div class="Logo"></div>
        <div class="title">
            <h1>PROCES VERBAL</h1>
        </div>
    </header>

    <article class="container" >
        <form class="table-dark">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="container">
                        <div class="row">
                            <div class="group col-md-6">
                                        Client : {{ intervention.nom }}
                            </div>
                        </div>
                        <div class="group">
                                     Adresse : {{ intervention.adresse }}
                        </div>
                        <div class="row">
                            <div class="group">
                                        CP : {{ intervention.codepostal }}
                            </div>
                            <div class="group col">
                                        Ville : {{ intervention.ville }}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                <div class="form-group col-md-6">
                    <label for="descriptif">Objet du marché</label>
                    <input type="text" class="form-control" id="descriptif">
                </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="form-group col-md-6">
                        Devis n°{{ intervention.id }}
                    </div>
                        <div class="row">
                            <div class="grid_3">
                                <div class="form-row">Réception
                                    <div class="form-group col-md-12 ">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="reception" id="definitive1" value="option1" checked>
                                            <label class="form-check-label" for="definitive1">
                                        Définitive
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 ">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="reception" id="patrielle1" value="option2">
                                            <label class="form-check-label" for="patrielle1">
                                        Partielle
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_3">
                        <div class="form-row">Mise en service
                            <div class="form-group col-md-12 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="service" id="definitive2" value="option3" checked>
                                    <label class="form-check-label" for="definitive2">
                                        Définitive
                                    </label>
                                </div>
                            </div>
                            <div class="form-group   col-md-12 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="service" id="patrielle2" value="option4">
                                    <label class="form-check-label" for="patrielle2">
                                        Partielle
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                         <div class="form-group">
                                {#             le bouton apparait si le check est activé                #}
                             <div class="form-check">
                                 <input class="form-check-input" type="checkbox" id="reserve">
                                 <label class="form-check-label" for="reserve">
                                Réserve (voir observation)
                                 </label>
                             </div>
                         </div>
                    <button type="button" class="btn btn-primary">Observations</button>
                </div>
            </div>
        </form>
    </article>

<div class="container">

    <div class="clauses">
            <p>Le clients atteste, par le présent, que les matériels livrés et installés par GB CONCEPT :</p>
            <p> <span>&#128073;&#127996;</span>sont conformes aux caractéristiques indiquées dans les documents précisés en référence.</p>
            <p><span>&#128073;&#127996;</span> sont en bon état de fonctionnement.</p>
            <p><b><U>Rappel</U> : Les matériels fournis ce jour demeurent la propriété exclusive de l'entreprise GB CONCEPT jusqu'au paiement complet des matériels et prestations par le client.</b></p>
            <p> <b><U>Responsabilité :</U></b> A compter de ce jour, le client assure l'entière responsabilité des matériels, y compris l'ensemble des obligations d'assurance.</p>

        </div>
</div>
    <div class="container ">
        <div class="row">
            <div class="col"></div>
            <div class="col-3">
                <h4>GB CONCEPT</h4>
                Nom : {#{{ user.username }}#}
                <div class="Signature">
                    <canvas id="signG" width="165" height="48" >Signature</canvas>
                </div>
            </div>
            <div class="col"></div>
            <div class="col-3">
                Établi le {{ "now"|date("d/m/Y") }}
                <br>
                <button type="submit" class="btn btn-success ">Envoyer</button>
            </div>

            <div class="col"></div>
            <div class="col-3">
                <h4>LE CLIENT</h4>
                Nom : {{ intervention.nom }}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="sig-canvas" width="250" height="100" style=" border: 2px dotted #CCCCCC; border-radius: 15px; cursor: crosshair; ">
                            </canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" id="sig-submitBtn">Ok</button>
                            <button class="btn btn-default" id="sig-clearBtn">Effacer</button>
                        </div>
                    </div>
                </div><!--SIGNATURE -->
            </div>
        </div>
    </div>
    <div class="retour">
        <button type="button" class="btn btn-danger"><a href="javascript:history.go(-1)">Retour</a></button>
    </div>


<footer class="container-fluid table-dark" id="footer">
    <div class="row">
        <div class="grid_3">
            <div class="fblock-1 wow fadeIn"><a href="./"><img src="/public/images/logo.jpg" alt="" ></a></div>
        </div>
        <div class="preffix_2 grid_6">
            <div class="fblock-2">
                <div class="fblock-2_s1"><span class="fblock-2_s1_s1">GB CONCEPT</span> &copy; <span id="copyright-year"></span> | Mentions Légales</div>
                <p>SARL GB CONCEPT-181, Rue de St Éxupéry-34130 MAUGUIO.</p>
                <p>Tél: 04.20.30.28.28/ Fax: 04.67.82.75.38 Email: contact@gbconcept34.fr - RCS Montpellier 501 826 176</p>
            </div>
        </div>
    </div>
</footer>

    <script>
        (function() {
            window.requestAnimFrame = (function(callback) {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimaitonFrame ||
                    function(callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            const canvas = document.getElementById("sig-canvas");
            const ctx = canvas.getContext("2d");
            ctx.strokeStyle = "#222222";
            ctx.lineWidth = 1;

            let drawing = false;
            let mousePos = {
                x: 0,
                y: 0
            };
            let lastPos = mousePos;

            canvas.addEventListener("mousedown", function(e) {
                drawing = true;
                lastPos = getMousePos(canvas, e);
            }, false);

            canvas.addEventListener("mouseup", function(e) {
                drawing = false;
            }, false);

            canvas.addEventListener("mousemove", function(e) {
                mousePos = getMousePos(canvas, e);
            }, false);

            // Ajouter un support d'événement tactile pour mobile
            canvas.addEventListener("touchstart", function(e) {
            }, false);

            canvas.addEventListener("touchmove", function(e) {
                const touch = e.touches[0];
                const me = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchstart", function(e) {
                mousePos = getTouchPos(canvas, e);
                const touch = e.touches[0];
                const me = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchend", function(e) {
                const me = new MouseEvent("mouseup", {});
                canvas.dispatchEvent(me);
            }, false);

            function getMousePos(canvasDom, mouseEvent) {
                const rect = canvasDom.getBoundingClientRect();
                return {
                    x: mouseEvent.clientX - rect.left,
                    y: mouseEvent.clientY - rect.top
                }
            }

            function getTouchPos(canvasDom, touchEvent) {
                const rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                }
            }

            function renderCanvas() {
                if (drawing) {
                    ctx.moveTo(lastPos.x, lastPos.y);
                    ctx.lineTo(mousePos.x, mousePos.y);
                    ctx.stroke();
                    lastPos = mousePos;
                }
            }

            // Empêcher le défilement lorsque vous touchez la zone de signature
            document.body.addEventListener("touchstart", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchend", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchmove", function(e) {
                if (e.target === canvas) {
                    e.preventDefault();
                }
            }, false);

            (function drawLoop() {
                requestAnimFrame(drawLoop);
                renderCanvas();
            })();

            function clearCanvas() {
                canvas.width = canvas.width;
            }

            // Configurer l'interface utilisateur
            const sigText = document.getElementById("sig-dataUrl");
            const sigImage = document.getElementById("sig-image");
            const clearBtn = document.getElementById("sig-clearBtn");
            const submitBtn = document.getElementById("sig-submitBtn");
            clearBtn.addEventListener("click", function(e) {
                clearCanvas();
                sigText.innerHTML = "Data URL for your signature will go here!";
                sigImage.setAttribute("src", "");
            }, false);
            submitBtn.addEventListener("click", function(e) {
                const dataUrl = canvas.toDataURL();
                //  sigText.innerHTML = dataUrl;           lien image pour la signature
                //  sigImage.setAttribute("src", dataUrl);
            }, false);
        })();
    </script><!--SIGNATURE -->
{% endblock %}
