{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ intervention.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ intervention.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ intervention.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ intervention.ville }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ intervention.telephone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ intervention.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ intervention.email }}</td>
            </tr>
            <tr>
                <th>Representant</th>
                <td>{{ intervention.representant }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ intervention.fonction }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('intervention_index') }}">back to list</a>

    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
